@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cal+Sans&display=swap');

body {
    background-image: url('../img/9acc225c-c7a3-4a29-9f10-ed7c8e3e839e.jpg'); /* Ruta a la imagen de fondo */
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;      /* Esto acomoda una cosa abajo de otra */
    justify-content: center;     /* Centra verticalmente */
    align-items: center;         /* Centra horizontalmente */
    font-family: 'Cal Sans', sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 10px;
    font-size: 4rem;
    color: white;
}

h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

p {
    max-width: 600px;
    margin-bottom: 30px;
}

footer {
    font-size: 0.8em;
    color: #666;
}
