@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cal+Sans&display=swap');

body {
    /*background-image: url('../img/9acc225c-c7a3-4a29-9f10-ed7c8e3e839e.jpg');  Ruta a la imagen de fondo 
    background-position: center;*/
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cal Sans', sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 8px; /* Espaciado pequeño entre todos los hijos del body */
}

h1 {
    font-size: 6rem;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
    font-size: 3rem;
}

p {
    max-width: 600px;
    margin: 0;
    font-size: 2rem;
}

footer {
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
    font-size: 1rem;
}

body{
  background: #3399ff;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}