@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cal+Sans&display=swap');

body {
    background-image: url('../img/9acc225c-c7a3-4a29-9f10-ed7c8e3e839e.jpg'); /* Ruta a la imagen de fondo */
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cal Sans', sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 8px; /* Espaciado pequeño entre todos los hijos del body */
}

h1 {
    font-size: 4rem;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
}

p {
    max-width: 600px;
    margin: 0;
}

footer {
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
}